<body>
    <div class="modal-overlay" *ngIf="isVisible" (click)="closeModal()"></div>
    <div class="modal" *ngIf="isVisible">
        <div class="modal-content">
            <h2 class="collection">Delete collection</h2>
            <div class="input-field">
               <p>Are you sure you want to delete {{collectionName}}?</p>
           
            </div>
            <div class="button-group">
                <button (click)="closeModal()">Cancel</button>
                <button class="delete"(click)="deleteCollection()">Delete {{collectionName}}</button>
            </div>

        </div>
    </div>

</body>