<body>
  <div class="modal-overlay" *ngIf="isVisible" (click)="closeModal()"></div>
  <app-pop-up-dialog #showPopUp></app-pop-up-dialog>
  <div class="modal" *ngIf="isVisible">
    <div class="modal-content">
      <h2 class="collection">Share Collection</h2>
      <div class="card">
        <div class="card-header">
          <div class="button-group">
            <button
              class="share active"
              (click)="toggleActive('button1')"
              [ngClass]="{ active: activeButton === 'button1' }"
            >
              <span class="material-symbols-outlined"> share </span>Public
            </button>
            <button
              class="share"
              (click)="toggleActive('button2')"
              [ngClass]="{ active: activeButton === 'button2' }"
            >
              <span class="material-symbols-outlined"> cloud_lock </span>Private
            </button>
          </div>
          <label class="switch" *ngIf="activeButton === 'button1'">
            <form [formGroup]="editForm">
              <input
                type="checkbox"
                class="checkbox"
                formControlName="isPublic"
                (change)="updateCollectionPublic()"
              />

              <span class="slider round"></span>
            </form>
          </label>
          <button
            *ngIf="activeButton === 'button2'"
            (click)="generateNewLink()"
            class="newLink"[disabled]="isLoading"
          >
            <span *ngIf="!isLoading">Generate New Link</span><div *ngIf="isLoading" class="spinner"></div>
          </button>
        </div>

        <div class="card-body">
          <div class="public-content" *ngIf="activeButton === 'button1'">
            <p>
              Make collection public.<br />
              Collections that are public can be seen by other users by checking
              your profile.
            </p>
            <div class="showLink" *ngIf="collectionDetails.isPublic">
              <p class="link">
                {{ publicLink }}
              </p>
              <button
                [cdkCopyToClipboard]="publicLink"
                (click)="showPopUp.showPopup()"
              >
                <span class="material-symbols-outlined copy">content_copy</span>
              </button>
            </div>
          </div>
          <div class="content" *ngIf="activeButton === 'button2'">
            <p class="link">
              {{ privateLink }}
            </p>
            <button
              [cdkCopyToClipboard]="privateLink"
              (click)="showPopUp.showPopup()"
            >
              <span class="material-symbols-outlined copy">content_copy</span>
            </button>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
