body{
  font-size: 1rem;
}
.container{
  display:grid;
  grid-template-columns: 10% 90%;
  
}
.left-container{
  border-right:0.1px solid lightgray;
  height:100vh;
}
.icon-list{
  display:flex;
  height:2rem;
  border-bottom: 0.1px solid lightgray;
  padding-top:0.2rem;
  justify-content: flex-end;
}
.icon-list span{
  cursor: pointer;
  
}
.menu {
    width:100%;

    min-height: 4rem;
    display: block;

    overflow: hidden;
   
  }
 
  .example-box {
    padding:1rem;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    min-width: 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    background: white;
    line-height: 1.5rem;
   
  }

  .example-box p{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Adds space between the chevron and text */
    flex-grow: 1; /* Allows the text to take up remaining space */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .more{
    display:none;
    margin-left: auto;
    cursor: pointer;
    flex-shrink: 0;

  }
  .collection-container{
    border-bottom:0.1px solid lightgray;
  }
  .example-box span{
    cursor:pointer;
 
  }
  .example-box span:hover{
    color:red;
  }
  .example-box:hover{
    background-color: #e2e2e2ef;
    cursor: pointer;
  }
  .active{
    background-color: #e2e2e2ef;
  }
  .example-box:hover .more{
    display:block;
  }
  .cdk-drag-preview {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }


.example-menu {
  font-size: 0.7rem;
    display: inline-flex;
    flex-direction: column;
    min-width: 5rem;
    max-width: 10rem;
    background-color: rgba(255, 255, 255);
    padding: 6px 0;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .example-menu-item,
  .example-standalone-trigger {
    background-color: transparent;
    cursor: pointer;
    border: none;
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    outline:none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
  
  .example-menu-item:hover {
    background-color: rgb(208, 208, 208);
  }
  
  .example-menu-item:active {
    background-color: rgb(170, 170, 170);
  }
  
  .example-standalone-item {
    background-color: rgb(239, 239, 239);
  }
  .example-standalone-item:hover {
    background-color: rgb(208, 208, 208);
  }
  .example-standalone-item[aria-expanded='true'] {
    background-color: rgb(208, 208, 208);
  }
 
  .addCollection{
    border-top:0;
    border-left:0;
    border-right:0;
    margin-left: 1rem;
    height:2rem;
    font-size: 1rem;
    width:10rem;
    border-bottom: 1px solid black;
  }
  .addCollection:focus{
    outline:none;
  }

  .tree-invinsible{
    display:none;
}
.tree-node{
    display: block;
}
.tree-node .tree-node{
    padding-left: 40px;
}
.arrow {
  transition: transform 0.2s;
  cursor: pointer;
  line-height: 1.5rem;
  
  &.rotated {
    transform: rotate(90deg);
  }
}

.right-container{
  width:100%;

}

.top-layout{
align-items: center;
  height:5rem;
  padding:0.5rem;
  display:flex;
  border-bottom: 0.1rem solid lightgray;
}
.top-layout .collection-name{
  font-size: 1.5rem;
}
.add{
  color:white;
}
.add-button{
  margin-left:auto;
}
