<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="logo">
                <p>Linkhub</p>
            </div>
            <div class="tabs">
                <ul>
                    <li>
                        <a><span class="material-symbols-outlined">
                            bookmark
                            </span> All bookmarks</a>
                    </li>
                </ul>
            </div>
            <div class="header">
                <p>MY COLLECTIONS </p>
            </div>
           
            <div class="collections">
                <cdk-virtual-scroll-viewport
                itemSize="items.length"
                class="collection-viewport"
              >
                <div class="collection"*ngFor="let item of items; let i = index">
                    <div class="collection-name">
                        <p class="name"><span class="material-symbols-outlined">
                            workspaces
                            </span>{{ item.collectionName }}</p>
                        <p class="links-length">{{item.links.length}}</p>
                    </div>
                    
                </div>
            </cdk-virtual-scroll-viewport>
            </div>
            <hr>
            <p class="add-collection"><span class="material-symbols-outlined">add</span> New Collection</p>

            <div class="profile">
               
                <div class="profile-name">
                    
                    <p><span class="material-symbols-outlined">person</span> Username</p>
                    <span class="material-symbols-outlined settings">
                        settings
                        </span>
                </div>
            </div>
        </div>
        <div class="right-container">
        </div>
    </div>
</body>
</html>