<body>
  <div class="container">
    <div class="left-container">
      <div class="icon-list">

      
        <span class="material-symbols-outlined">
          add
        </span>
        <span class="material-symbols-outlined">
          delete
        </span>
      </div>
      
    
        <div cdkDropList class="menu" (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of items; let i = index; trackBy: trackByFn">
       
          <div class="collection-container">
            <!-- Parent Collection -->
            <div class="example-box" #exampleBox cdkDrag [id]="'item-' + item.id" (click)="toggleRightContainer(item)"
              [ngClass]="{ 'active': activeItemId==item.id }">
              <p>
                {{item.collectionName}}
              </p>
              <a [cdkMenuTriggerFor]="menu" class="material-symbols-outlined more">
                more_horiz
              </a>
            </div>

            <form action="" [formGroup]="addCollectionForm">
              <div *ngIf="item.showNestedInput" class="nested-input-container"
               [id]="'nested-input-' + item.id">
                <input type="text" placeholder="Add collection" [(ngModel)]="item.newNestedName"
                  formControlName="name" (keyup.enter)="addNestedCollection(item)" class="addCollection" autofocus>
              </div>
            </form>

              
            <ng-template #menu>
              <div class="example-menu" cdkMenu>
                <a class="example-menu-item" cdkMenuItem (click)="toggleNestedInput($event,item)">Add Collection
                  </a>
                <a class="example-menu-item" cdkMenuItem>Edit collection Name</a>
                <a class="example-menu-item" cdkMenuItem>View collection details</a>
                <a class="example-menu-item" cdkMenuItem>Delete collection</a>
              </div>
            </ng-template>
          </div>
          </div>
          
        </div>
      
     
    </div>
    <div class="right-container" *ngIf="userClicked==true">
      <div class="top-layout">
        <div class="collection-name">
          <p>{{collectionName}}</p>
        </div>
        <button class="add-button"> <span class="material-symbols-outlined add">add</span></button>
      </div>
      <div class="links-container">
        <p>Hello</p>
      </div>

    </div>

  </div>
</body>