<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

</head>

<body>
  <div class="container">
    <div class="left-container">
      <div class="icon-list">
        <span class="material-symbols-outlined">
          add
        </span>
        <span class="material-symbols-outlined">
          delete
        </span>
      </div>
<ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: items ,level: 0}"></ng-container>
      <ng-template #recursiveList let-items let-level="level">
        <div cdkDropList class="menu" (cdkDropListDropped)="drop($event)">
          @for (item of items; track item; let i = $index) {
          <div class="collection-container" [ngStyle]="{ 'margin-left': (level * 1) + 'rem' }">
            <!-- Parent Collection -->
            <div class="example-box" cdkDrag (click)="consoleLog(item.id)">
              <p>
                <span *ngIf="item.childCollections && item.childCollections.length > 0"
                  class="material-symbols-outlined arrow" (click)="toggleChildren(item)"
                  [class.rotated]="item.showChildren">
                  chevron_right
                </span>
                {{item.collectionName}}
              </p>
              <a class="more" [cdkMenuTriggerFor]="menu" class="material-symbols-outlined more">
                more_horiz
              </a>
            </div>
            <form action=""[formGroup]="addCollectionForm">
              <div *ngIf="item.showNestedInput" class="nested-input-container">
                <input type="text" placeholder="Nested collection name" [(ngModel)]="item.newNestedName"formControlName="name"
                  (keyup.enter)="addNestedCollection(item)" class="addCollection" autofocus>
              </div>
            </form>
            
            <ng-container *ngIf="item.showChildren && item.childCollections?.length">
              <ng-container
                *ngTemplateOutlet="recursiveList; context: { $implicit: item.childCollections,level:level+1 }"></ng-container>
            </ng-container>
            <!-- Nested Input -->
      
  
            <!-- Child Collections -->
        
           
            <ng-template #menu>
              <div class="example-menu" cdkMenu>
                <a class="example-menu-item" cdkMenuItem (click)="toggleNestedInput(item)">Add nested collection</a>
                <a class="example-menu-item" cdkMenuItem>Edit collection Name</a>
                <a class="example-menu-item" cdkMenuItem>View collection details</a>
                <a class="example-menu-item" cdkMenuItem>Delete collection</a>
              </div>
            </ng-template>
          </div>
          }
        </div>
     
           

         
        
      </ng-template>
    

    </div>
    <div class="right-container">
      
    </div>

  </div>



</body>

</html>