<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <h1>LinkHub</h1>
        </div>
        <ul class="nav-links">
            <li class="tabs">
                <a href="">Home</a>
            </li>
            <li class="tabs">
                <a href="">Links</a>
            </li>
            <li class="tabs">
                <a href="">Collection</a>
            </li>

        </ul>
        <div class="icons" *ngIf="refresh_token=='true'">

            <span class="material-symbols-outlined">
                info
            </span>
            <span class="material-symbols-outlined">
                bookmark
            </span>
            <span class="material-symbols-outlined">
                account_circle
            </span>

        </div>
        <app-login-modal #loginModal></app-login-modal>
        <div class="icons" *ngIf="refresh_token=='false'">

            <span class="material-symbols-outlined">
                info
            </span>

            <span class="material-symbols-outlined"(click)="loginModal.openModal()">
                login
            </span>
            
            
        </div>
    </div>
</body>

</html>