<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <h1>LinkHub</h1>
        </div>
        <ul class="nav-links">
            <li class="tabs">
                <span [routerLink]="['/home']">Home</span>
            </li>
            <li class="tabs">
                <span href="">Links</span>
            </li>
            <li class="tabs">
                <span [routerLink]="['/collection']">Collection</span>
            </li>

        </ul>
        <div class="icons" *ngIf="isLoggedin ">

            <span class="material-symbols-outlined"data-tooltip="Info">
                info
            </span>
            <!-- <span class="material-symbols-outlined">
                bookmark
            </span> -->
            <span class="material-symbols-outlined account" #accountIcon (click)="showCard()" >
                account_circle
            </span>

        </div>

        <app-login-modal #loginModal></app-login-modal>
        <div class="icons" *ngIf="!isLoggedin">

            <span class="material-symbols-outlined">
                info
            </span>

            <span class="material-symbols-outlined"data-tooltip="Login" title="login" (click)="loginModal.openModal()">
                login
            </span>


        </div>

    </div>
    <div class="container-card" #card *ngIf="isCardVisible">
        <div class="arrow-up"></div>
        <div class="dropdown-card">

            <div class="card">

                <a>Profile</a>
                <a>Profile</a>
                <a>Profile</a>
                <a (click)="signOut()">Sign Out</a>
            </div>
        </div>
    </div>

</body>

</html>