<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register your account</title>
</head>
<body>
    <div class="container">
        
        
        <form action="">
            <p class="header-text">Create an account<span>Log In</span></p>
            <p class="password-text">* Password must be at least 8 characters long  <br>* Have at least one lower-case and upper-case letter (Aa - Zz), <br>* One special symbol ( #,!,&#64; etc )<br>* At least one number ( 1-9 ) </p>
            <div class="input-family">
                <p>Email</p>
                <input type="email"autocomplete="off webauthn" placeholder="Enter Email">
            </div>
            <div class="input-family">
                <p>Email</p>
                <input type="text" placeholder="Enter First Name">
            </div>
            <div class="input-family">
                <p>Email</p>
                <input type="text" placeholder="Enter Last Name">                
            </div>
            <div class="input-family">
                <p>Email</p>
                <input type="password" placeholder="Enter Password">                
            </div>
            <div class="input-family">
                <p>Email</p>
                <input type="password" placeholder="Confirm Password">                    
            </div>
            <button class="signup">Regiser account</button>
        </form>
        
    </div>
</body>
</html>