<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register your account</title>
</head>
<body>
    <div class="container">
        <p>Welcome to <span>L</span>inkhub</p>
        <span>Lets get started</span>
        <form action="">
            <input type="email"autocomplete="off webauthn" placeholder="Enter Email">
            <input type="text" placeholder="Enter First Name">
            <input type="text" placeholder="Enter Last Name">
            <input type="password" placeholder="Enter Password">
            <input type="password" placeholder="Confirm Password">    
        </form>
    </div>
</body>
</html>