
.container{
    font-size:1.5rem;
    display:flex;
    justify-content: center;
    margin-top: 5rem;
    
}

form{
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    width:50rem;
    background-color: #e2e2e2ef;
}
.input-family{
    margin-left: 1rem;
    display: grid;
    grid-template-columns: 40% 60%;
    
}
.input-family p{
    font-size: 1.2rem;
    color:black;
    margin-top: 0.6rem;
}
.password-text{
    margin-left: 1rem;
    font-size: 1.2rem;
}
input{
    height:2.5rem;
    width:20rem;
    
    font-size: 1.2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    border:0.2px solid gray;
    padding:0.5rem;
}
input:focus{
    outline:none;
}
.header-text{
    padding: 1rem;
  background-color: gray;
  font-size: 1.2rem;
  color:white;
}
.header-text span{
    float:right;
    cursor: pointer;
    text-underline-offset: 0.2rem;
    text-decoration-color: white;
    text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-color: white;
}
.signup{
    width: 10rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border:none;
}
.terms{
    margin-left:1rem;
    font-size: 1rem;
}
.terms span{
    color:red;
    cursor: pointer;
}
.toggle-button {
    position: absolute;
    left:73rem;
    margin-top: 0.5rem;
    padding:0;
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
  }
  .requirements{
    font-size: 1rem;
  }
  .requirements li {
    color: red;
    margin-left: 1.2rem; /* Default color for unmet requirements */
  }
  .requirements li.met {
    color: green; /* Color for met requirements */
  }
  .requirements li.not-met{
    color: red;
  }